@import "tailwindcss";

@font-face {
  font-family: 'Coolvetica';
  src: url('../Frontend/public/Coolvetica.otf') format('opentype');
}

@font-face {
  font-family: 'Misrow';
  src: url('../Frontend/public/Misrow.ttf') format('truetype');
}

@font-face {
  font-family: 'BarberChop';
  src: url('../Frontend/public/BarberChop.otf') format('opentype');
}

@font-face {
  font-family: 'Dynamix';
  src: url('../Frontend/public/Dynamix.ttf') format('truetype');
}

body {
  margin: 0 !important;
  padding: 0 !important;
}
