.anime-card {
  position: relative;
  height: 216px;
  width: 160px;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  /* margin-top: 10px; */
  text-align: center;
}

.anime-card:hover {
  border-radius: 14px;
  transform: translateY(-2px) scale(1.02);
}

.card-image {
  width: 100%;
  height: 216px;
}

.card-image img {
  width: 100%;
  height: 216px;
  object-fit: cover;
  cursor: pointer;
}

.card-image img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.image-placeholder {
  width: 100%;
  height: 216px;
  object-fit: cover;
  cursor: pointer;
}

.image-placeholder {
  width: 100%;
  height: 216px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
}

.card-title-bottom {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 8px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  color: #ff6a00;
  z-index: 1;
  text-shadow:
    0 0 10px rgba(255, 102, 0, 0.4),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.card-title-bottom h3 {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  backdrop-filter: blur(7px);
  border: 2px solid rgb(255, 60, 0);
  /* mix-blend-mode: lighten; */
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 5px;
}